<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script defer src="/js/script.js" type="text/javascript"></script>
    <title>TO-DO Manager</title>
  </head>
  <body>
    <!-- ender the contents of header.js -->

    <header><%- include('header.ejs') %></header>
    <br />
    <!-- ender the contents of todos.js -->
    <div><%- include( "todos.ejs") %></div>
    <br />
    <!-- render the contents of footer.ejs  -->
    <footer><%- include("footer.ejs") %></footer>
  </body>
</html>
